[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[format]
	pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[core]
	editor = vim
	excludesfile = ~/.gitignore

[alias]
	diffcache = diff --cached
	outgoing = log --graph @{u}..

	# Pretty git branch graphs from http://stackoverflow.com/a/9074343/2619847
	glogall = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	glog = !"git glogall -7"

[push]
	default = simple

# Keep my email address out of the public repo
[include]
	path = ~/.gitconfig.private
