.hg/*
.git/*

*.bak
*.rej
*.orig
*.swp
*.lock

# vim undo file
*.un~
Session.vim

# SublimeText
*.sublime-workspace
*.sublime-project

*.pyc
*/__pycache__/*
*/.mypy_cache/*
*/.sass-cache/*

*.egg-info/
.python-version
*pyproject.toml
.venv/*